.division {
  display: flex;
  height: calc(100% - 50px);
  margin-top: 50px;
  justify-content: space-around;
  gap: 30px;
}

@media only screen and (max-width: 768px) {
  .division {
    flex-direction: column-reverse;
    align-items: center;
  }
  .division.column {
    flex-direction: column;
  }
}
