.page {
  background: #efefef;
  height: 100vh;
}

.page-wrap {
  padding: 72px 20px;
  height: calc(100% - 144px);
}

@media only screen and (max-width: 768px) {
  .page {
    height: 100vh;
    overflow: auto;
  }
  .page-wrap {
    height: auto;
  }
}
