.pokemonList {
  padding: 20px;
  height: calc(100% - 38px);
  box-sizing: border-box;
}

.pokemonListWrap {
  overflow: auto;
  height: 100%;
}

.pokemonTitle {
  font-size: 16px;
  padding: 10px 20px;
  background: #ffdd61;
  color: #6a4600;
  font-weight: bold;
  border-radius: 12px 12px 0 0;
}

.pokemonList-ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, auto));
  gap: 10px;
}

.pokemonList-ul li .img_box {
  width: 100%;
}

.pokemonList-ul li img {
  max-width: 250px;
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.pokemonList-ul li span {
  display: block;
  padding: 5px 10px;
  border-top: 1px solid #ccc;
  color: #000;
}
.pokemonList-ul li button {
  width: 100%;
  padding: 0;
  background: none;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}
.pokemonList-ul li button:hover {
  background: #fff7de;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
}
